@font-face {
  font-family: "JourneyOfTheRobed";
  src: url("/fonts/Game Font.ttf");
}

@font-face {
  font-family: "JourneyOfTheRobedBigBold";
  src: url("/fonts/Big Font Bold.ttf");
}

html, body {
  background-color: #444444;
  font-family: JourneyOfTheRobed, serif;
  overflow-x: hidden;
  width: 100%;
}

.Project {
  width: 45rem;
  height: 30rem;
  outline: solid;
  border-radius: 2rem;
  text-align: center;
  background-color: #333333;
  overflow: hidden;
  outline-color: #222222;
  outline-width: 5px;

  display: flex;
  flex-direction: row;
}

.Project img {
  max-width: 50%;
}

.Project .ContentBox {
  width: 50%;
}

.Project .VR {
  border-left: 5px solid #222222;
  height: 100vh;
}

.Project .ContentBox h1 {
  font-size: 2rem;
}

.Project .ContentBox .DescriptionBox {
  height: 60%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.Project hr {
  height: 5px;
  background-color: #222222;
  border-width: 0;
}

.Projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
  width: auto;
  padding: 3vw;
  overflow: hidden;
  margin: 0;
}

.NavBar .ContentBox {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.NavBar hr {
  margin: 0;
}

h1, h2 {
  font-family: JourneyOfTheRobedBigBold, serif;
  line-height: normal;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;

}

.NavBarContainer {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.NavBarHeader {
  color: white;
  font-size: 2rem;
  font-family: JourneyOfTheRobedBigBold, serif;
}

.Content {
  width: 94%;
  padding: 3%;
}

.Footer {
  background-color: #222222;
  height: auto;
  padding: 3vw;
  bottom: 0;
  width: 100%;
}

.NavBar {
  width: 100%;
  background-color: #222222;
}

.AllProjects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

li {
  list-style: none;
}

.ScrollButton {
  align-self: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #222222;
  border: none;
  outline: none;
}

.Footer p {
  font-size: 1rem;
  color: #999999;
}

@media (max-width: 1000px) {
  .NavBarHeader {
    font-size: .8rem;
  }

  .ScrollButton {
    width: 3rem;
    height: 3rem;
    font-size: .8rem;
  }

  .Projects {
    gap: 3rem;
  }

  .Project {
    border-radius: 1rem;
    font-size: .27rem;
    width: 50vw;
    height: 20vh;
  }

  .Project h2 {
    font-size: .5rem;
  }

  .Footer {
    position: absolute;
  }
}